<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itssky.system.mapper.CardMapper">
    <!-- S1收费站通行卡发放班统计表 -->
    <select id="s1StationShift" resultType="com.itssky.system.domain.vo.CardStatisticsVo"
            parameterType="com.itssky.system.domain.dto.CardStatisticsDto">
        SELECT
        a.ShiftID AS shiftId,
        a.OperatorID AS operatorId,
        a.StaDate AS staDate,
        SUM( CASE WHEN a.VehicleClass = 1 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust1,
        SUM( CASE WHEN a.VehicleClass = 2 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust2,
        SUM( CASE WHEN a.VehicleClass = 3 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust3,
        SUM( CASE WHEN a.VehicleClass = 4 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust4,
        SUM(
        CASE

        WHEN a.VehicleClass <![CDATA[<]]> 10
        AND a.CardType = 26 THEN
        a.CardNum ELSE 0
        END
        ) AS custSubTotal,
        SUM( CASE WHEN a.VehicleClass = 11 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck1,
        SUM( CASE WHEN a.VehicleClass = 12 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck2,
        SUM( CASE WHEN a.VehicleClass = 13 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck3,
        SUM( CASE WHEN a.VehicleClass = 14 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck4,
        SUM( CASE WHEN a.VehicleClass = 15 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck5,
        SUM( CASE WHEN a.VehicleClass = 16 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck6,
        SUM(
        CASE

        WHEN a.VehicleClass > 10
        AND a.VehicleClass <![CDATA[<]]> 20
        AND a.CardType = 26 THEN
        a.CardNum ELSE 0
        END
        ) AS truckSubTotal,
        SUM( CASE WHEN a.VehicleClass = 21 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec1,
        SUM( CASE WHEN a.VehicleClass = 22 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec2,
        SUM( CASE WHEN a.VehicleClass = 23 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec3,
        SUM( CASE WHEN a.VehicleClass = 24 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec4,
        SUM( CASE WHEN a.VehicleClass = 25 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec5,
        SUM( CASE WHEN a.VehicleClass = 26 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        spec6,
        SUM(
        CASE

        WHEN a.VehicleClass > 20
        AND a.VehicleClass <![CDATA[<]]> 30
        AND a.CardType = 26 THEN
        a.CardNum ELSE 0
        END
        ) AS specSubTotal,
        SUM( CASE WHEN a.CardType = 22 OR a.CardType = 23 THEN a.CarNum ELSE 0 END ) AS etcNum,
        SUM( CASE WHEN a.CardType = 254 THEN a.CarNum ELSE 0 END) AS paperNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=8 AND a.DealStatus&amp;2048 != 2048 AND a.DealStatus&amp;32 != 32 THEN a.CarNum ELSE 0 END), 0) AS militaryNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=6 THEN a.CarNum ELSE 0 END), 0) AS officialNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=14 THEN a.CarNum ELSE 0 END), 0) AS fleetNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=10 AND a.DealStatus&amp;2048 != 2048 AND a.DealStatus&amp;32 != 32 AND a.VehicleStatus IN (1,101) THEN a.CarNum ELSE 0 END), 0) AS preferNum
        FROM
        tbstatentry a
        <where>
            AND CancelFlag = 0
            <choose>
                <when test="tableFlag != null and tableFlag != '' and tableFlag == 0">
                    AND substring(LaneID,-4,1)=0 AND substring(LaneID,-3,1)=0 AND right(operatorid,3) != 971
                </when>
                <when test="tableFlag != null and tableFlag != '' and tableFlag == 1">
                    AND right(operatorid,3) != 981
                </when>
            </choose>
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="intTime != null and intTime != ''">
                AND StaDate = #{intTime}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
        ORDER BY ShiftID ASC, OperatorID ASC
    </select>

    <!-- C1收费站通行卡发放班统计表 -->
    <select id="c1StationShift" resultType="com.itssky.system.domain.vo.CardStatisticsVo"
            parameterType="com.itssky.system.domain.dto.CardStatisticsDto">
        SELECT
        a.ShiftID AS shiftId,
        a.OperatorID AS operatorId,
        a.StaDate AS staDate,
        a.TeamID AS teamId,
        SUM( CASE WHEN a.VehicleClass = 1 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS cust1,
        SUM( CASE WHEN a.VehicleClass = 2 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS cust2,
        SUM( CASE WHEN a.VehicleClass = 3 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS cust3,
        SUM( CASE WHEN a.VehicleClass = 4 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS cust4,
        SUM(
        CASE
        WHEN a.VehicleClass <![CDATA[<]]> 10
        AND a.CardType=26 THEN
        a.CardNum ELSE 0
        END
        ) AS custSubTotal,
        SUM( CASE WHEN a.VehicleClass = 11 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck1,
        SUM( CASE WHEN a.VehicleClass = 12 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck2,
        SUM( CASE WHEN a.VehicleClass = 13 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck3,
        SUM( CASE WHEN a.VehicleClass = 14 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck4,
        SUM( CASE WHEN a.VehicleClass = 15 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck5,
        SUM( CASE WHEN a.VehicleClass = 16 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        truck6,
        SUM(
        CASE

        WHEN a.VehicleClass > 10
        AND a.VehicleClass <![CDATA[<]]> 20
        AND a.CardType=26 THEN
        a.CardNum ELSE 0
        END
        ) AS truckSubTotal,
        SUM( CASE WHEN a.VehicleClass = 21 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec1,
        SUM( CASE WHEN a.VehicleClass = 22 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec2,
        SUM( CASE WHEN a.VehicleClass = 23 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec3,
        SUM( CASE WHEN a.VehicleClass = 24 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec4,
        SUM( CASE WHEN a.VehicleClass = 25 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec5,
        SUM( CASE WHEN a.VehicleClass = 26 AND a.CardType=26 THEN a.CardNum ELSE 0 END ) AS
        spec6,
        SUM(
        CASE

        WHEN a.VehicleClass > 20
        AND a.VehicleClass <![CDATA[<]]> 30
        AND a.CardType=26 THEN
        a.CardNum ELSE 0
        END
        ) AS specSubTotal,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;16777216=16777216 THEN a.CarNum ELSE 0 END ), 0) AS etcNum,
        IFNULL(SUM(CASE WHEN a.CardType = 254 AND a.DealStatus&amp;14 != 14 THEN a.CarNum ELSE 0 END), 0) AS paperNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=8 AND a.DealStatus&amp;2048 != 2048 AND a.DealStatus&amp;32 != 32 THEN a.CarNum ELSE 0 END), 0) AS militaryNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=6 THEN a.CarNum ELSE 0 END), 0) AS officialNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=14 AND a.CardType != 254 THEN a.CarNum ELSE 0 END), 0) AS fleetNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=10 AND a.DealStatus&amp;2048 != 2048 AND a.DealStatus&amp;32 != 32 AND a.VehicleStatus IN (1,101) THEN a.CarNum ELSE 0 END), 0) AS preferNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;32=32 THEN a.CarNum ELSE 0 END),0) AS noneNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;2048=2048 AND a.CardType IN (0,2,26) THEN a.CarNum ELSE 0 END),0) AS badNum
        FROM
        tbstatexit a
        <where>
            AND RIGHT(OperatorID, 3) != 981
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="intTime != null and intTime != ''">
                AND StaDate = #{intTime}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
        ORDER BY ShiftID ASC, OperatorID ASC
    </select>

    <select id="sdtStationShift" resultType="com.itssky.system.domain.vo.CardStatisticsVo"
            parameterType="com.itssky.system.domain.dto.CardStatisticsDtoV2">
        SELECT
        a.ShiftID AS shiftId,
        a.OperatorID AS operatorId,
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate,
        SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        cust1,
        SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust2,
        SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust3,
        SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS cust4,
        SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType = 26 THEN a.CardNum ELSE 0
        END) AS custSubTotal,
        SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck1,
        SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck2,
        SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck3,
        SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck4,
        SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS ruck5,
        SUM(CASE WHEN a.VehicleClass = 16 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS
        truck6,
        SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType = 26 THEN a.CardNum ELSE 0 END) AS truckSubTotal,
        SUM(CASE WHEN a.VehicleClass = 21 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec1,
        SUM(CASE WHEN a.VehicleClass = 22 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec2,
        SUM(CASE WHEN a.VehicleClass = 23 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec3,
        SUM(CASE WHEN a.VehicleClass = 24 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec4,
        SUM(CASE WHEN a.VehicleClass = 25 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec5,
        SUM(CASE WHEN a.VehicleClass = 26 AND a.CardType = 26 THEN a.CardNum ELSE 0 END ) AS spec6,
        SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType != 22 AND
        a.CardType != 23 THEN a.CardNum ELSE 0 END) AS specSubTotal,
        SUM(CASE WHEN a.CardType IN(22,23) AND right(a.OperatorID,3) != 971 THEN a.CarNum ELSE 0 END) AS etcNum,
        SUM(CASE WHEN a.CardType = 254 THEN a.CarNum ELSE 0 END) AS paperNum,
        SUM(CASE WHEN a.DealStatus&amp;14=8 THEN a.CarNum ELSE 0 END) AS militaryNum,
        SUM(CASE WHEN a.DealStatus&amp;14=6 THEN a.CarNum ELSE 0 END) AS officialNum,
        SUM(CASE WHEN a.DealStatus&amp;14=14 THEN a.CarNum ELSE 0 END) AS fleetNum,
        SUM(CASE WHEN a.DealStatus&amp;14=10 THEN a.CarNum ELSE 0 END) AS preferNum
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND CancelFlag = 0
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
        </choose>
    </select>

    <select id="cdtStationShift" resultType="com.itssky.system.domain.vo.CdtStatisticsVo"
            parameterType="com.itssky.system.domain.dto.CardStatisticsDtoV2">
        SELECT
        a.ShiftID AS shiftId,
        a.OperatorID AS operatorId,
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        cust1,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS cust2,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS cust3,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS cust4,
        IFNULL(SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType=26 THEN a.CardNum ELSE 0
        END), 0) AS custSubTotal,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        truck1,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        truck2,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        truck3,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        truck4,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS ruck5,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 16 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS
        truck6,
        IFNULL(SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType=26 THEN a.CardNum ELSE 0 END), 0) AS truckSubTotal,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 21 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec1,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 22 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec2,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 23 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec3,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 24 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec4,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 25 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec5,
        IFNULL(SUM(CASE WHEN a.VehicleClass = 26 AND a.CardType=26 THEN a.CardNum ELSE 0 END ), 0) AS spec6,
        IFNULL(SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType=26 THEN a.CardNum ELSE 0 END), 0) AS specSubTotal,
        IFNULL(SUM(CASE WHEN a.CardType = 254 THEN a.CarNum ELSE 0 END), 0) AS paperNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=8 AND a.DealStatus&amp;2048 != 2048 THEN a.CarNum ELSE 0 END), 0) AS militaryNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=6 THEN a.CarNum ELSE 0 END), 0) AS officialNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=14 AND a.CardType != 254 THEN a.CarNum ELSE 0 END), 0) AS fleetNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=10 AND a.VehicleStatus IN (1,101) THEN a.CarNum ELSE 0 END), 0) AS preferNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;32=32 THEN a.CarNum ELSE 0 END),0) AS noneNum,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;2048=2048 AND a.CardType in (0,2,26) THEN a.CarNum ELSE 0 END),0) AS badNum,
        IFNULL(SUM(CASE WHEN a.PayType=2 AND RIGHT(a.OperatorID,3) != 981 THEN a.CarNum ELSE 0 END),0) AS etcNum,
        IFNULL(SUM(CASE WHEN a.CardType=254 AND a.DealStatus&amp;14 != 14 THEN a.CarNum ELSE 0 END),0) AS paperNum
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND CancelFlag = 0
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
        </choose>
    </select>

    <!-- 库存变动: InNum+ReceivedNum-BadRecNUm+RecoverNum-OutNum-SendNum-BadOutNum+AdjustNum
                  调入卡数 + 回收卡数 - 坏卡回收数 + 恢复卡数 - 调出卡数 - 发卡数 - 坏卡调出(上缴)数 + 库存调整数
     -->
    <select id="ccq2" parameterType="com.itssky.system.domain.dto.CardCcqDto" resultType="com.itssky.system.domain.vo.Ccq2CardVo">
        SELECT
        a.StationID AS stationId,
        (SELECT StationName FROM dbtoms.tbstationinfo WHERE StationID = a.StationID LIMIT 1) AS stationName,
        IFNULL(SUM(a.InNum), 0) AS txkdr,
        IFNULL(SUM(a.ReceivedNum), 0) AS cksh,
        IFNULL(SUM(a.BadRecNUm), 0) AS hksh,
        IFNULL(SUM(a.RecoverNum), 0) AS txkhf,
        IFNULL(SUM(a.OutNum), 0) AS txkdc,
        IFNULL(SUM(a.SendNum), 0) AS rkfk,
        IFNULL(SUM(a.BadOutNum), 0) AS hksj,
        IFNULL(SUM(a.AdjustNum), 0) AS kcwhs,
        IFNULL(SUM(a.InNum+a.ReceivedNum-a.BadRecNUm+a.RecoverNum-a.OutNum-a.SendNum-a.BadOutNum+a.AdjustNum), 0) kcbd,
        IFNULL(SUM(a.BadStockNum), 0) AS kchk,
        IFNULL(SUM(a.StockNum), 0) AS kczck
        FROM ${tableName} a
        <where>
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="staDate != null">
                AND StaDate = #{staDate}
            </if>
        </where>
        GROUP BY StationID
        ORDER BY StationID
    </select>

    <select id="ccq3" parameterType="com.itssky.system.domain.dto.CardCcqDto" resultType="com.itssky.system.domain.vo.Ccq3CardVo">
        SELECT
        a.StaDate AS staDate,
        IFNULL(SUM(a.InNum), 0) AS txkdr,
        IFNULL(SUM(a.ReceivedNum), 0) AS cksh,
        IFNULL(SUM(a.BadRecNUm), 0) AS hksh,
        IFNULL(SUM(a.RecoverNum), 0) AS txkhf,
        IFNULL(SUM(a.OutNum), 0) AS txkdc,
        IFNULL(SUM(a.SendNum), 0) AS rkfk,
        IFNULL(SUM(a.BadOutNum), 0) AS hksj,
        IFNULL(SUM(a.AdjustNum), 0) AS kcwhs,
        IFNULL(SUM(a.InNum+a.ReceivedNum-a.BadRecNUm+a.RecoverNum-a.OutNum-a.SendNum-a.BadOutNum+a.AdjustNum), 0) kcbd,
        IFNULL(SUM(a.BadStockNum), 0) AS kchk,
        IFNULL(SUM(a.StockNum), 0) AS kczck
        FROM ${tableName} a
        <where>
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="staDate != null">
                AND LEFT(StaDate, 6) = #{staDate}
            </if>
        </where>
        GROUP BY StaDate
        ORDER BY StaDate
    </select>

    <select id="getTbStcList" resultType="com.itssky.system.domain.vo.TbStcVo"
            parameterType="com.itssky.system.domain.dto.TbStcDto">
        SELECT StationID AS stationId,
        StaDate AS staDate,
        ShiftID AS shiftId,
        StockNum AS stockNum,
        SendNum AS sendNum,
        ReceivedNum AS receivedNum,
        InNum AS inNum,
        OutNum AS outNum,
        RecoverNum AS recoverNum,
        BadStockNum AS badStockNum,
        BadRecNum AS badRecNum,
        BadOutNum AS badOutNum,
        AdjustNum AS adjustNum,
        BalanceOP AS balanceOp
        FROM
        tbstc
        <where>
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="staDate != null and staDate != ''">
                AND StaDate = #{staDate}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND ShiftID = #{shiftId}
            </if>
        </where>
        ORDER BY BalanceOP ASC
    </select>

    <select id="getTbStcListV2" resultType="com.itssky.system.domain.vo.TbStcVo"
            parameterType="com.itssky.system.domain.dto.TbStcDtoV2">
        SELECT
        a.StationID AS stationId,
        a.StaDate AS staDate,
        a.ShiftID AS shiftId,
        a.BalanceOP AS balanceOp,
        LEFT(a.StaDate, 6) AS monthDate,
        SUM(a.StockNum) AS stockNum,
        SUM(a.SendNum) AS sendNum,
        SUM(a.ReceivedNum) AS receivedNum,
        SUM(a.InNum) AS inNum,
        SUM(a.OutNum) AS outNum,
        SUM(a.RecoverNum) AS recoverNum,
        SUM(a.BadStockNum) AS badStockNum,
        SUM(a.BadRecNum) AS badRecNum,
        SUM(a.BadOutNum) AS badOutNum,
        SUM(a.AdjustNum) AS adjustNum,
        SUM(a.BalanceOP) AS balanceOp
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
        SELECT
        *
        FROM ${tableName} AS alias${index + 1}
            <where>
                AND CancelFlag = 0
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
    </select>
</mapper>