<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itssky.system.mapper.TollMapper">
    <!--F1收费站通行费收入班统计表-->
    <select id="f1StationShift" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        a.TeamID AS teamId,
        SUM(a.TotalFee) AS dueAmount,
        SUM(a.TotalArrearage) AS arrearsAmount,
        SUM(CASE WHEN a.TotalArrearage is not NULL AND a.TotalArrearage != 0 THEN a.CarNum ELSE 0 END) AS arrearsTrips,
        SUM(CASE WHEN a.PayType = 16 THEN a.TotalToll ELSE 0 END) AS mobilePaymentAmount,
        SUM(CASE WHEN a.PayType = 2 THEN a.TotalToll ELSE 0 END) AS ePaymentAmount
        FROM
        `tbstatexit` a
        <where>
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
        ORDER BY OperatorID ASC
    </select>

    <!-- F2收费站通行费收入日统计表 -->
    <select id="f2StationShift" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        a.TeamID AS teamId,
        SUM(a.TotalFee) AS dueAmount,
        SUM(a.TotalArrearage) AS arrearsAmount,
        SUM(CASE WHEN a.TotalArrearage is not NULL AND a.TotalArrearage != 0 THEN a.CarNum ELSE 0 END) AS arrearsTrips,
        SUM(CASE WHEN a.PayType = 16 THEN a.TotalToll ELSE 0 END) AS mobilePaymentAmount,
        SUM(CASE WHEN a.PayType = 2 THEN a.TotalToll ELSE 0 END) AS ePaymentAmount
        FROM
        `tbstatexit` a
        <where>
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
        ORDER BY ShiftID ASC, OperatorID ASC
    </select>

    <!-- FT通行费收入统计表 -->
    <select id="ftToll" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.stationcode WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        SUM( a.TotalFee ) AS dueAmount,
        SUM( a.TotalArrearage ) AS arrearsAmount,
        SUM( CASE WHEN a.TotalArrearage IS NOT NULL AND a.TotalArrearage != 0 THEN a.CarNum ELSE 0 END ) AS
        arrearsTrips,
        SUM( CASE WHEN a.PayType = 16 THEN a.TotalToll ELSE 0 END ) AS mobilePaymentAmount,
        SUM( CASE WHEN a.PayType = 2 THEN a.TotalToll ELSE 0 END ) AS ePaymentAmount,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
        </choose>
    </select>

    <!-- AFV综合(MTC+ETC)按车型统计表 -->
    <select id="afvGeneral" resultType="com.itssky.system.domain.vo.VehicleClassStatVo"
            parameterType="com.itssky.system.domain.dto.VehicleClassStatDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.stationcode WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        a.OperatorID AS operatorId,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate,
        SUM(CASE WHEN a.VehicleClass = 1 THEN a.TotalToll ELSE 0 END) AS cust1,
        SUM(CASE WHEN a.VehicleClass = 2 THEN a.TotalToll ELSE 0 END) AS cust2,
        SUM(CASE WHEN a.VehicleClass = 3 THEN a.TotalToll ELSE 0 END) AS cust3,
        SUM(CASE WHEN a.VehicleClass = 4 THEN a.TotalToll ELSE 0 END) AS cust4,
        SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 THEN a.TotalToll ELSE 0 END) AS custSubTotal,
        SUM(CASE WHEN a.VehicleClass = 11 THEN a.TotalToll ELSE 0 END) AS truck1,
        SUM(CASE WHEN a.VehicleClass = 12 THEN a.TotalToll ELSE 0 END) AS truck2,
        SUM(CASE WHEN a.VehicleClass = 13 THEN a.TotalToll ELSE 0 END) AS truck3,
        SUM(CASE WHEN a.VehicleClass = 14 THEN a.TotalToll ELSE 0 END) AS truck4,
        SUM(CASE WHEN a.VehicleClass = 15 THEN a.TotalToll ELSE 0 END) AS truck5,
        SUM(CASE WHEN a.VehicleClass = 16 THEN a.TotalToll ELSE 0 END) AS truck6,
        SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 THEN a.TotalToll ELSE 0 END) AS truckSubTotal,
        SUM(CASE WHEN a.VehicleClass = 21 THEN a.TotalToll ELSE 0 END) AS spec1,
        SUM(CASE WHEN a.VehicleClass = 22 THEN a.TotalToll ELSE 0 END) AS spec2,
        SUM(CASE WHEN a.VehicleClass = 23 THEN a.TotalToll ELSE 0 END) AS spec3,
        SUM(CASE WHEN a.VehicleClass = 24 THEN a.TotalToll ELSE 0 END) AS spec4,
        SUM(CASE WHEN a.VehicleClass = 25 THEN a.TotalToll ELSE 0 END) AS spec5,
        SUM(CASE WHEN a.VehicleClass = 26 THEN a.TotalToll ELSE 0 END) AS spec6,
        SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 THEN a.TotalToll ELSE 0 END) AS specSubTotal
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                ORDER BY OperatorID ASC
            </when>
        </choose>
    </select>

    <!-- EEF电子支付通行费(MTC+ETC)统计表 -->
    <select id="eefEPay" resultType="com.itssky.system.domain.vo.EPayTollStatVo"
            parameterType="com.itssky.system.domain.dto.VehicleClassStatDto">
        SELECT
            a.StationID AS stationId,
            (SELECT stationname FROM dbtoms.stationcode WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
            a.OperatorID AS operatorId,
            LEFT(a.StaDate, 6) AS monthDate,
            a.StaDate AS staDate,
            SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS cust1C,
            SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS cust2C,
            SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS cust3C,
            SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS cust4C,
            SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS custCSubTotal,
            SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS cust1D,
            SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS cust2D,
            SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS cust3D,
            SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS cust4D,
            SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS custDSubTotal,
            SUM(CASE WHEN a.VehicleClass = 1 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS cust1Sum,
            SUM(CASE WHEN a.VehicleClass = 2 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS cust2Sum,
            SUM(CASE WHEN a.VehicleClass = 3 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS cust3Sum,
            SUM(CASE WHEN a.VehicleClass = 4 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS cust4Sum,
            SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS custSubSum,
            SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust1C,
            SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust2C,
            SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust3C,
            SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust4C,
            SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust5C,
            SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trust6C,
            SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS trustCSubTotal,
            SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust1D,
            SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust2D,
            SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust3D,
            SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust4D,
            SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust5D,
            SUM(CASE WHEN a.VehicleClass = 16 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trust6D,
            SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS trustDSubTotal,
            SUM(CASE WHEN a.VehicleClass = 11 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust1Sum,
            SUM(CASE WHEN a.VehicleClass = 12 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust2Sum,
            SUM(CASE WHEN a.VehicleClass = 13 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust3Sum,
            SUM(CASE WHEN a.VehicleClass = 14 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust4Sum,
            SUM(CASE WHEN a.VehicleClass = 15 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust5Sum,
            SUM(CASE WHEN a.VehicleClass = 16 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trust6Sum,
            SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS trustSubSum,
            SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec1C,
            SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec2C,
            SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec3C,
            SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec4C,
            SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec5C,
            SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS spec6C,
            SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS specCSubTotal,
            SUM(CASE WHEN a.VehicleClass = 21 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec1D,
            SUM(CASE WHEN a.VehicleClass = 22 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec2D,
            SUM(CASE WHEN a.VehicleClass = 23 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec3D,
            SUM(CASE WHEN a.VehicleClass = 24 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec4D,
            SUM(CASE WHEN a.VehicleClass = 25 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec5D,
            SUM(CASE WHEN a.VehicleClass = 26 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS spec6D,
            SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS specDSubTotal,
            SUM(CASE WHEN a.VehicleClass = 21 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec1Sum,
            SUM(CASE WHEN a.VehicleClass = 22 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec2Sum,
            SUM(CASE WHEN a.VehicleClass = 23 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec3Sum,
            SUM(CASE WHEN a.VehicleClass = 24 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec4Sum,
            SUM(CASE WHEN a.VehicleClass = 25 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec5Sum,
            SUM(CASE WHEN a.VehicleClass = 26 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS spec6Sum,
            SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND (a.CardType = 22 OR a.CardType = 23) THEN a.TotalToll ELSE 0 END) AS specSubSum,
            SUM(CASE WHEN a.CardType = 22 OR a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS totalSum,
            SUM(CASE WHEN a.CardType = 22 THEN a.TotalToll ELSE 0 END) AS cTotal,
            SUM(CASE WHEN a.CardType = 23 THEN a.TotalToll ELSE 0 END) AS dTotal
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                ORDER BY OperatorID ASC
            </when>
        </choose>
    </select>

    <!-- 获取交款记录表数据-->
    <select id="getTbShData" resultType="com.itssky.system.domain.vo.TbShVo" parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        SUM(a.HandToll) AS handToll,
        SUM(a.AddedToll) AS addedToll,
        SUM(a.HandInCNum) AS handInCNum,
        SUM(a.HandOutCNum) AS handOutCNum
        FROM `tbsh` a
        <where>
            AND a.StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
    </select>

    <!-- 获取交款记录表数据 （支持多表联查）-->
    <select id="getTbShDataV2" resultType="com.itssky.system.domain.vo.TbShVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        SUM(a.HandToll) AS handToll,
        SUM(a.AddedToll) AS addedToll,
        SUM(a.HandInCNum) AS handInCNum,
        SUM(a.HandOutCNum) AS handOutCNum,
        SUM(a.AddedToll) AS addedToll,
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StationID AS stationId,
        a.OperatorID AS operatorId
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
    </select>
</mapper>