<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itssky.system.mapper.TollMapper">
    <!--F1收费站通行费收入班统计表-->
    <select id="f1StationShift" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        a.TeamID AS teamId,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=6 THEN CarNum ELSE 0 END),0) as officialIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=8 THEN CarNum ELSE 0 END),0) as militaryIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=12 THEN CarNum ELSE 0 END),0) as freeIcCardCount,
        IFNULL(SUM(CASE WHEN (DealStatus&amp;14!=14 AND DealStatus&amp;14!=2
        AND DealStatus&amp;0xE00000!=0x200000 AND DealStatus&amp;0x1000000=0 AND DealStatus&amp;32!=32 AND CardType=0)
        OR (CardType=26 AND DealStatus&amp;32!=32) THEN CardNum ELSE 0 END),0) as dueIcCardCount,
        IFNULL(CAST(SUM(CASE WHEN PayType=0 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) as douTotalToll,
        IFNULL(CAST(SUM(CASE WHEN DealStatus&amp;14=4 THEN TotalArrearage ELSE 0 END)/100 AS DECIMAL(10,2)), 0) as arrearsAmount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=4 THEN CarNum ELSE 0 END),0) as arrearsTrips,
        IFNULL(CAST(SUM(CASE WHEN PayType=16 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) mobilePaymentAmount,
        IFNULL(CAST(SUM(CASE WHEN PayType=2 THEN TotalToll  ELSE 0 END) /100 as DECIMAL(10,2)), 0) as ePaymentAmount
        FROM
        `tbstatexit` a
        <where>
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
            AND CancelFlag = 0 AND RecordType&amp;1 =1
            AND substring(LaneID,-3,1)  = 1 AND substring(LaneID,-4,1) = 0
        </where>
        GROUP BY OperatorID
        ORDER BY OperatorID ASC
    </select>

    <!-- F2收费站通行费收入日统计表 -->
    <select id="f2StationShift" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        a.TeamID AS teamId,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=6 THEN CarNum ELSE 0 END),0) as officialIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=8 THEN CarNum ELSE 0 END),0) as militaryIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=12 THEN CarNum ELSE 0 END),0) as freeIcCardCount,
        IFNULL(SUM(CASE WHEN (DealStatus&amp;14!=14 AND DealStatus&amp;14!=2
        AND DealStatus&amp;0xE00000!=0x200000 AND DealStatus&amp;0x1000000=0 AND DealStatus&amp;32!=32 AND CardType=0)
        OR (CardType=26 AND DealStatus&amp;32!=32) THEN CardNum ELSE 0 END),0) as dueIcCardCount,
        IFNULL(CAST(SUM(CASE WHEN PayType=0 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS douTotalToll,
        IFNULL(CAST(SUM(CASE WHEN DealStatus&amp;14=4 THEN TotalArrearage ELSE 0 END)/100 AS DECIMAL(10,2)), 0) AS arrearsAmount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=4 THEN CarNum ELSE 0 END),0) AS arrearsTrips,
        IFNULL(CAST(SUM(CASE WHEN PayType=16 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS mobilePaymentAmount,
        IFNULL(CAST(SUM(CASE WHEN PayType=2 THEN TotalToll  ELSE 0 END) /100 as DECIMAL(10,2)), 0) as ePaymentAmount
        FROM
        `tbstatexit` a
        <where>
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
            AND CancelFlag = 0 AND RecordType &amp;1 =1
        </where>
        GROUP BY OperatorID
        ORDER BY ShiftID ASC, OperatorID ASC
    </select>

    <!-- FT通行费收入统计表 -->
    <select id="ftToll" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=6 THEN CarNum ELSE 0 END),0) as officialIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=8 THEN CarNum ELSE 0 END),0) as militaryIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=12 THEN CarNum ELSE 0 END),0) as freeIcCardCount,
        IFNULL(SUM(CASE WHEN (DealStatus&amp;14!=14 AND DealStatus&amp;14!=2
        AND DealStatus&amp;0xE00000!=0x200000 AND DealStatus&amp;0x1000000=0 AND DealStatus&amp;32!=32 AND CardType=0)
        OR (CardType=26 AND DealStatus&amp;32!=32) THEN CardNum ELSE 0 END),0) as dueIcCardCount,
        IFNULL(CAST(SUM(CASE WHEN PayType=0 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS douTotalToll,
        IFNULL(CAST(SUM(CASE WHEN DealStatus&amp;14=4 THEN TotalArrearage ELSE 0 END)/100 AS DECIMAL(10,2)), 0) AS arrearsAmount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=4 THEN CarNum ELSE 0 END),0) AS arrearsTrips,
        IFNULL(CAST(SUM(CASE WHEN PayType=16 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS mobilePaymentAmount,
        IFNULL(CAST(SUM(CASE WHEN PayType=2 THEN TotalToll  ELSE 0 END) /100 as DECIMAL(10,2)), 0) as ePaymentAmount,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
                AND CancelFlag = 0 AND RecordType &amp;1 =1
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
        </choose>
    </select>

    <select id="ftTollForOtherDatabase" resultType="com.itssky.system.domain.vo.StationShiftVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=6 THEN CarNum ELSE 0 END),0) as officialIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=8 THEN CarNum ELSE 0 END),0) as militaryIcCardCount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=12 THEN CarNum ELSE 0 END),0) as freeIcCardCount,
        IFNULL(SUM(CASE WHEN (DealStatus&amp;14!=14 AND DealStatus&amp;14!=2
        AND DealStatus&amp;0xE00000!=0x200000 AND DealStatus&amp;0x1000000=0 AND DealStatus&amp;32!=32 AND CardType=0)
        OR (CardType=26 AND DealStatus&amp;32!=32) THEN CardNum ELSE 0 END),0) as dueIcCardCount,
        IFNULL(CAST(SUM(CASE WHEN PayType=0 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS douTotalToll,
        IFNULL(CAST(SUM(CASE WHEN DealStatus&amp;14=4 THEN TotalArrearage ELSE 0 END)/100 AS DECIMAL(10,2)), 0) AS arrearsAmount,
        IFNULL(SUM(CASE WHEN DealStatus&amp;14=4 THEN CarNum ELSE 0 END),0) AS arrearsTrips,
        IFNULL(CAST(SUM(CASE WHEN PayType=16 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) AS mobilePaymentAmount,
        IFNULL(CAST(SUM(CASE WHEN PayType=2 THEN TotalToll  ELSE 0 END) /100 as DECIMAL(10,2)), 0) as ePaymentAmount,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
                AND CancelFlag = 0 AND RecordType &amp;1 =1
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
        </choose>
    </select>

    <!-- AFV综合(MTC+ETC)按车型统计表 -->
    <select id="afvGeneral" resultType="com.itssky.system.domain.vo.VehicleClassStatVo"
            parameterType="com.itssky.system.domain.dto.VehicleClassStatDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        a.OperatorID AS operatorId,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StaDate AS staDate,
        IFNULL(CAST(SUM(a.TotalToll)/100 AS DECIMAL(10,2)), 0) as totalAmount,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 1 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS cust1,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 2 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS cust2,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 3 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS cust3,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 4 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS cust4,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS custSubTotal,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 11 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck1,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 12 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck2,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 13 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck3,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 14 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck4,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 15 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck5,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 16 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truck6,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS truckSubTotal,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 21 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec1,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 22 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec2,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 23 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec3,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 24 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec4,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 25 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec5,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass = 26 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS spec6,
        IFNULL(CAST(SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS specSubTotal
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND DealStatus &amp; 14 IN(0,2,10)
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
                AND CancelFlag = 0 AND RecordType &amp;1 =1
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                ORDER BY OperatorID ASC
            </when>
        </choose>
    </select>

    <!-- EEF电子支付通行费(MTC+ETC)统计表 -->
    <select id="eefEPay" resultType="com.itssky.system.domain.vo.EPayTollStatVo"
            parameterType="com.itssky.system.domain.dto.VehicleClassStatDto">
        SELECT
            a.StationID AS stationId,
            (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
            a.OperatorID AS operatorId,
            LEFT(a.StaDate, 6) AS monthDate,
            a.StaDate AS staDate,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust1C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust2C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust3C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust4C,
            IFNULL(SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS custCSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 1 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust1D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 2 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust2D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 3 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust3D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 4 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust4D,
            IFNULL(SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS custDSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 1 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust1Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 2 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust2Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 3 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust3Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 4 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cust4Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass <![CDATA[<]]> 10 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS custSubSum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust1C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust2C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust3C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust4C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust5C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust6C,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trustCSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust1D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust2D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust3D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust4D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust5D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 16 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust6D,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trustDSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 11 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust1Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 12 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust2Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 13 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust3Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 14 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust4Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust5Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 16 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trust6Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 10 AND a.VehicleClass <![CDATA[<]]> 20 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS trustSubSum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 11 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec1C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 12 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec2C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 13 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec3C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 14 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec4C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec5C,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 15 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec6C,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS specCSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 21 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec1D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 22 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec2D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 23 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec3D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 24 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec4D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 25 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec5D,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 26 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec6D,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS specDSubTotal,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 21 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec1Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 22 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec2Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 23 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec3Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 24 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec4Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 25 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec5Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass = 26 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS spec6Sum,
            IFNULL(SUM(CASE WHEN a.VehicleClass > 20 AND a.VehicleClass <![CDATA[<]]> 30 AND (a.CardType = 22 OR a.CardType = 23) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS specSubSum,
            IFNULL(SUM(CASE WHEN a.CardType = 22 OR a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS totalSum,
            IFNULL(SUM(CASE WHEN a.CardType = 22 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS cTotal,
            IFNULL(SUM(CASE WHEN a.CardType = 23 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END), 0) AS dTotal
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")" index="index">
            SELECT
            *
            FROM ${tableName} AS alias${index + 1}
            <where>
                AND CancelFlag = 0
                AND PayType = 2
                <choose>
                    <when test="flag != null and flag != '' and flag == 1">
                        AND RIGHT(OperatorID,3) != '981'
                    </when>
                    <when test="flag != null and flag != '' and flag == 2">
                        AND RIGHT(OperatorID,3) = '981'
                    </when>
                    <otherwise>
                        AND 1 = 1
                    </otherwise>
                </choose>
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID ASC
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                ORDER BY OperatorID ASC
            </when>
        </choose>
    </select>

    <!-- 获取交款记录表数据-->
    <select id="getTbShData" resultType="com.itssky.system.domain.vo.TbShVo" parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.OperatorID AS operatorId,
        a.ShiftID AS shiftId,
        IFNULL(CAST(SUM(AddedToll)/100 as DECIMAL(10,2)), 0) as addedToll,
        IFNULL(CAST(SUM(HandToll)/100 as DECIMAL(10,2)), 0) as handToll,
        IFNUll(SUM(HandInCNum), 0) AS handInCNum,
        IFNULL(SUM(HandOutCNum), 0) AS handOutCNum
        FROM `tbsh` a
        <where>
            AND a.CancelFlag = 0
            AND a.StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY OperatorID
    </select>

    <!-- 获取交款记录表数据 （支持多表联查）-->
    <select id="getTbShDataV2" resultType="com.itssky.system.domain.vo.TbShVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        IFNULL(CAST(SUM(a.AddedToll)/100 as DECIMAL(10,2)) ,0) as addedToll,
        IFNULL(CAST(SUM(a.HandToll)/100 as DECIMAL(10,2)), 0) as handToll,
        IFNULL(SUM(a.HandInCNum), 0) AS handInCNum,
        IFNULL(SUM(a.HandOutCNum), 0) AS handOutCNum,
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StationID AS stationId,
        a.OperatorID AS operatorId
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND CancelFlag = 0
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
    </select>

    <select id="getTbShDataV2ForOtherDatabase" resultType="com.itssky.system.domain.vo.TbShVo"
            parameterType="com.itssky.system.domain.dto.FtStationDto">
        SELECT
        IFNULL(CAST(SUM(a.AddedToll)/100 as DECIMAL(10,2)) ,0) as addedToll,
        IFNULL(CAST(SUM(a.HandToll)/100 as DECIMAL(10,2)), 0) as handToll,
        IFNULL(SUM(a.HandInCNum), 0) AS handInCNum,
        IFNULL(SUM(a.HandOutCNum), 0) AS handOutCNum,
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        a.StationID AS stationId,
        a.OperatorID AS operatorId
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND CancelFlag = 0
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
    </select>

    <!-- 加收表查询 (支持多表联查)-->
    <select id="getExtraPay" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.ExtraPayVo">
        SELECT
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        a.OperatorID AS operatorId,
        a.StationID AS stationId,
        IFNULL(CAST(SUM(a.AddedToll)/100 as DECIMAL(10,2)) ,0) AS extAddToll,
        IFNULL(SUM(CASE WHEN a.payType=0 THEN a.AddedToll ELSE 0 END),0) as xjMoney,
        IFNULL(SUM(CASE WHEN a.payType=16 THEN a.AddedToll ELSE 0 END),0) as ydzfMoney
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND CancelFlag = 0
                AND IsSplit=1
                AND IsConfirm = 1
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="timeFormat != null and timeFormat != ''">
                    AND StaDate = #{timeFormat}
                </if>
                <if test="shiftId != null and shiftId != ''">
                    AND ShiftID = #{shiftId}
                </if>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
    </select>

    <select id="getExtraPayForOtherDatabase" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.ExtraPayVo">
        SELECT
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        a.OperatorID AS operatorId,
        a.StationID AS stationId,
        IFNULL(CAST(SUM(a.AddedToll)/100 as DECIMAL(10,2)) ,0) AS extAddToll,
        IFNULL(SUM(CASE WHEN a.payType=0 THEN a.AddedToll ELSE 0 END),0) as xjMoney,
        IFNULL(SUM(CASE WHEN a.payType=16 THEN a.AddedToll ELSE 0 END),0) as ydzfMoney
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND CancelFlag = 0
                AND IsSplit=1
                AND IsConfirm = 1
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="timeFormat != null and timeFormat != ''">
                    AND StaDate = #{timeFormat}
                </if>
                <if test="shiftId != null and shiftId != ''">
                    AND ShiftID = #{shiftId}
                </if>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
    </select>

    <select id="getF6TollEntry" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.F6TollVo">
        SELECT
        a.TeamID AS teamId,
        a.OperatorID AS operatorId,
        (SELECT OperatorName FROM dbtoms.tboperatorinfo WHERE a.OperatorID = OperatorID LIMIT 1 ) AS operatorName,
        IFNULL(SUM(CASE WHEN a.CardType=26 THEN 1 ELSE 0 END),0) AS yfIcCardNum,
        IFNULL(SUM(CASE WHEN a.CardType=254 THEN 1 ELSE 0 END),0) AS paperNum
        FROM tbrawentry a
        <where>
            AND a.CancelFlag = 0
            AND a.RecordType&amp;1=1
            AND a.VehicleClass in(1,2,3,4,11,12,13,14,15,16,21,22,23,24,25,26)
            AND a.CardType IN (26,254)
            <if test="stationId != null and stationId != ''">
                AND a.StationID = #{stationId}
            </if>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.EntryDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY a.OperatorID
    </select>

    <select id="getF6TollExit" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.F6TollVo">
        SELECT
        a.TeamID AS teamId,
        a.OperatorID AS operatorId,
        (SELECT OperatorName FROM dbtoms.tboperatorinfo WHERE a.OperatorID = OperatorID LIMIT 1 ) AS operatorName,
        IFNULL(CAST(SUM(CASE WHEN a.DealStatus&amp;14 IN (0,10) AND a.IdentifyStatus = 0 THEN a.Toll ELSE 0 END)/100 AS DECIMAL(10,2)),0) AS exitToll,
        IFNULL(SUM(CASE WHEN a.CardType=26 THEN 1 ELSE 0 END),0) AS yjIcCardNum,
		IFNULL(SUM(CASE WHEN a.CardType=254 THEN 1 ELSE 0 END),0) AS paperNum
        FROM tbrawexit a
        <where>
            AND a.CancelFlag=0
            AND a.RecordType&amp;3=3
            AND a.RecordType&amp;192=0
            AND substring(a.LaneID,-4,1)=0
            AND substring(a.LaneID,-3,1)=1
            <if test="stationId != null and stationId != ''">
                AND a.StationID = #{stationId}
            </if>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.ExitDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY a.OperatorID
    </select>

    <select id="getF6TollExtra" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.F6TollVo">
        SELECT
        a.OperatorID AS operatorId,
        (SELECT OperatorName FROM dbtoms.tboperatorinfo WHERE a.OperatorID = OperatorID LIMIT 1 ) AS operatorName,
        IFNULL(CAST(SUM(a.addedtoll) /100 AS DECIMAL(10, 2)) ,0) AS addedToll
        FROM ${tableName} a
        <where>
            AND a.CancelFlag=0
            AND a.issplit=1
            AND (a.paytype IS null OR a.paytype=0)
            <if test="stationId != null and stationId != ''">
                AND a.StationID = #{stationId}
            </if>
            <if test="timeFormat != null and timeFormat != ''">
                AND a.StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND a.ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY a.operatorid
    </select>

    <select id="getTbShGroupByStation" parameterType="com.itssky.system.domain.dto.StationShiftDto" resultType="com.itssky.system.domain.vo.TbShVo">
        SELECT
        StationID AS stationId,
        IFNULL(CAST(sum(AddedToll)/100 as DECIMAL(10,2)), 0) AS addedToll,
        IFNULL(CAST(sum(HandToll)/100 as DECIMAL(10,2)), 0) AS handToll
        FROM ${tableName}
        <where>
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY StationID
        ORDER BY StationID ASC
    </select>

    <select id="getCf1Vo" resultType="com.itssky.system.domain.vo.Cf1Vo" parameterType="com.itssky.system.domain.dto.StationShiftDto">
        SELECT
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=6 THEN a.CarNum ELSE 0 END),0) AS officialIcCardCount,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=8 THEN a.CarNum ELSE 0 END),0) AS militaryIcCardCount,
        IFNULL(SUM(CASE WHEN a.DealStatus&amp;14=12 THEN a.CarNum ELSE 0 END),0) AS freeIcCardCount,
        IFNULL(SUM(CASE WHEN (a.DealStatus&amp;14 != 14 AND a.DealStatus&amp;14 != 2 AND a.DealStatus&amp;0xE00000 != 0x200000
            AND a.DealStatus&amp;0x1000000=0 AND a.DealStatus&amp;32 != 32 AND a.CardType=0)
            OR (a.CardType=26 AND a.DealStatus&amp;32 != 32) THEN a.CardNum ELSE 0 END),0) AS dueIcCardCount,
        IFNULL(CAST(SUM(CASE WHEN PayType=0 THEN TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) douTotalToll,
        IFNULL(CAST(SUM(CASE WHEN a.DealStatus&amp;14=4 THEN a.TotalArrearage ELSE 0 END)/100 AS DECIMAL(10,2)),0) arrearsAmount,
        IFNULL(CAST(SUM(CASE WHEN a.PayType = 0 THEN a.TotalToll ELSE 0 END)/ 100 AS DECIMAL(10,2)), 0) AS dueAmount,
        IFNULL(CAST(SUM(CASE WHEN a.PayType=16 THEN a.TotalToll ELSE 0 END)/100 as DECIMAL(10,2)), 0) mobilePaymentAmount,
        IFNULL(CAST(SUM(CASE WHEN a.PayType=2 THEN a.TotalToll  ELSE 0 END) /100 as DECIMAL(10,2)), 0) as ePaymentAmount
        FROM ${tableName} a
        <where>
            AND CancelFlag = 0
            AND StationID in
            <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                #{stationId}
            </foreach>
            <if test="timeFormat != null and timeFormat != ''">
                AND StaDate = #{timeFormat}
            </if>
            <if test="shiftId != null and shiftId != ''">
                AND ShiftID = #{shiftId}
            </if>
        </where>
        GROUP BY StationID
        ORDER BY StationID ASC
    </select>

    <select id="getMOBToll" parameterType="com.itssky.system.domain.dto.FtStationDto" resultType="com.itssky.system.domain.vo.MOBTollVo">
        SELECT
        a.OperatorID AS operatorId,
        a.StationID AS stationId,
        (SELECT stationname FROM dbtoms.tbstationinfo WHERE a.StationID = stationid LIMIT 1 ) AS stationName,
        a.StaDate AS staDate,
        LEFT(a.StaDate, 6) AS monthDate,
        IFNULL(SUM(CASE WHEN a.PayChannel=1 THEN a.CarNum ELSE 0 END),0) ylCount,
        IFNULL(SUM(CASE WHEN a.PayChannel=1 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) ylToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=2 THEN a.CarNum ELSE 0 END),0) wxCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=2 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) wxToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=3 THEN a.CarNum ELSE 0 END),0) zfbCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=3 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) zfbToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=4 THEN a.CarNum ELSE 0 END),0) bdCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=4 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) bdToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=5 THEN a.CarNum ELSE 0 END),0) jdCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=5 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) jdToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=32 THEN a.CarNum ELSE 0 END),0) txbCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=32 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) txbToll,
        IFNULL(SUM(CASE WHEN a.PayChannel=33 THEN a.CarNum ELSE 0 END),0) szrmbCount,
		IFNULL(SUM(CASE WHEN a.PayChannel=33 THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) szrmbToll,
        IFNULL(SUM(CASE WHEN a.PayChannel NOT IN (1,2,3,4,5,32,33) THEN a.CarNum ELSE 0 END),0) qtCount,
		IFNULL(SUM(CASE WHEN a.PayChannel NOT IN (1,2,3,4,5,32,33) THEN CAST(a.TotalToll/100 as DECIMAL(10,2)) ELSE 0 END),0) qtToll,
        IFNULL(SUM(a.CarNum),0) hjCount,
		IFNULL(SUM(CAST(a.TotalToll/100 as DECIMAL(10,2))),0) hjToll
        FROM
        <foreach collection="tableNameList" separator="UNION ALL" item="tableName" open="(" close=")">
            SELECT
            *
            FROM ${tableName}
            <where>
                AND PayType = 16
                AND StationID in
                <foreach item="stationId" collection="stationIdList" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
                <if test="intBeginTime != null and intBeginTime != ''">
                    AND StaDate >= #{intBeginTime}
                </if>
                <if test="intEndTime != null and intEndTime != ''">
                    AND StaDate <![CDATA[<=]]> #{intEndTime}
                </if>
            </where>
        </foreach>
        a
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                GROUP BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                GROUP BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                GROUP BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                GROUP BY OperatorID
            </when>
        </choose>
        <choose>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 0">
                ORDER BY StaDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 1">
                ORDER BY monthDate
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 2">
                ORDER BY StationID
            </when>
            <when test="statisticsType != null and statisticsType != '' and statisticsType == 3">
                ORDER BY OperatorID
            </when>
        </choose>
    </select>
</mapper>